.pokecard {
    width: 100%;
    max-width: 300px;
    border-radius: 0.7em;
    transition: transform 200ms ease;
    margin: 20px;
}

.pokecard:hover {
    transform: scale(1.03);
}

.pokecard__header {
    background-color: #999;
    aspect-ratio: 2;
    position: relative;
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
}

.pokecard__image {
    position: absolute;
    width: 60%;
    left: 50%;
    transform: translateX(-50%);
    top: 1.5em;
}

.pokecard__body {
    padding: 3.5em 1em 2em;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;

}

.pokecard__name {
    text-align: center;
    text-transform: capitalize;
    font-size: 1.6rem;
    font-weight: 400;
    margin-bottom: 0.2em;
}

.pokecard__types {
    display: flex;
    justify-content: center;
    gap: 0.7em;
    margin-bottom: 1em;
}

.pokecard__typesname {
    text-transform: capitalize;
}

.pokecard__typename:nth-child(2)::before {
    content: '/';
    padding-right: 0.7em;
}

.pokecard__hr {
    margin-bottom: 1em;
    border: 1px solid #ccc4;
}

.pokecard__stats {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    gap: 1.5em 0.2em;
}

.pokecard__stat {
    display: grid;
    gap: 0.5em;
    justify-items: center;
}

.pokecard__stat__name {
    font-size: 0.7rem;
    font-weight: 300;
    text-transform: uppercase;
}

.pokecard__stat__value {
    font-weight: 500;
    font-size: 1rem;
}

.normal-gradient {
    background: linear-gradient(181.51deg, #735259 -6.44%, #BC6B7C 121.95%, #7C3F4C 186.11%);
}

.normal-border {
    border: 0.5em solid #BC6B7C;
}

.normal-color {
    color: #BC6B7C;
}

.fighting-gradient {
    background: linear-gradient(176.83deg, #96402A -8.78%, #F1613C 169.09%, #CB735D 242.33%);
}

.fighting-border {
    border: 0.5em solid #96402A;
}

.fighting-color {
    color: #96402A;
}

.flying-gradient {
    background: linear-gradient(179.75deg, #0C1395 -19.96%, #2B319B 43.67%, #7075D9 138.4%);
}

.flying-border {
    border: 0.5em solid #0C1395;
}

.flying-color {
    color: #0C1395;
}

.poison-gradient {
    background: linear-gradient(177.03deg, #5B3184 -11.97%, #A564E3 71.28%, #CE9BFF 135.64%);
}

.poison-border {
    border: 0.5em solid #5B3184;
}

.poison-color {
    color: #5B3184;
}

.ground-gradient {
    background: linear-gradient(179.75deg, #654008 -19.96%, #895C1A 43.67%, #D69638 138.4%);
}

.ground-border {
    border: 0.5em solid #654008;
}

.ground-color {
    color: #654008;
}

.rock-gradient {
    background: linear-gradient(177.03deg, #7E7E7E -11.97%, #8D8D94 57.49%, #D3D3D3 135.64%);
}

.rock-border {
    border: 0.5em solid #7E7E7E;
}

.rock-color {
    color: #7E7E7E;
}

.bug-gradient {
    background: linear-gradient(177.56deg, #62DB60 -58.92%, #3BB039 16.57%, #AAFFA8 209.53%);
}

.bug-border {
    border: 0.5em solid #3BB039;
}

.bug-color {
    color: #3BB039;
}

.ghost-gradient {
    background: linear-gradient(177.03deg, #323569 -11.97%, #454AA8 57.49%, #787DDA 135.64%);
}

.ghost-border {
    border: 0.5em solid #323569;
}

.ghost-color {
    color: #323569;
}

.steel-gradient {
    background: linear-gradient(179.75deg, #5E736C -19.96%, #728881 43.67%, #A8A8A8 138.4%);
}

.steel-border {
    border: 0.5em solid #5E736C;
}

.steel-color {
    color: #5E736C;
}

.fire-gradient {
    background: linear-gradient(176.37deg, #F96D6F -32.26%, #E35825 22.55%, #E8AE1B 125.72%);
}

.fire-border {
    border: 0.5em solid #F96D6F;
}

.fire-color {
    color: #F96D6F;
}

.water-gradient {
    background: linear-gradient(179.57deg, #133258 -70.14%, #1479FB 56.16%, #82B2F1 214.85%);
}

.water-border {
    border: 0.5em solid #1479FB;
}

.water-color {
    color: #1479FB;
}

.grass-gradient {
    background: linear-gradient(178.92deg, #7EC6C5 0.92%, #ABDAC6 47.96%, #CAE099 99.08%);
}

.grass-border {
    border: 0.5em solid #7EC6C5;
}

.grass-color {
    color: #7EC6C5;
}

.electric-gradient {
    background: linear-gradient(179.75deg, #fff200 -19.96%, #bdb55c 43.67%, #e0dbad 138.4%);
}

.electric-border {
    border: 0.5em solid #fff200;
}

.electric-color {
    color: #fff200;
}

.psychic-gradient {
    background: linear-gradient(179.75deg, #E62D2D -19.96%, #D13E3E 43.67%, #F07F7F 138.4%);
}

.psychic-border {
    border: 0.5em solid #E62D2D;
}

.psychic-color {
    color: #E62D2D;
}

.ice-gradient {
    background: linear-gradient(177.03deg, #6FBEDF -11.97%, #64CBF5 47.77%, #BDEBFE 136.72%);
}

.ice-border {
    border: 0.5em solid #6FBEDF;
}

.ice-color {
    color: #6FBEDF;
}

.dragon-gradient {
    background: linear-gradient(179.75deg, #478A93 -19.96%, #56A4AE 43.67%, #A2BEC1 138.4%);
}

.dragon-border {
    border: 0.5em solid #478A93;
}

.dragon-color {
    color: #478A93;
}

.dark-gradient {
    background: linear-gradient(177.03deg, #030706 -11.97%, #0D1211 57.49%, #5A5E5D 135.64%);
}

.dark-border {
    border: 0.5em solid #030706;
}

.dark-color {
    color: #030706;
}

.fairy-gradient {
    background: linear-gradient(179.75deg, #971B45 -19.96%, #C23867 43.67%, #CD7D98 138.4%);
}

.fairy-border {
    border: 0.5em solid #971B45;
}

.fairy-color {
    color: #971B45;
}

.unknown-gradient {
    background: linear-gradient(179.75deg, #515266 -19.96%, #8c8fc8 43.67%, #7075D9 138.4%);
}

.unknown-border {
    border: 0.5em solid #515266;
}

.unknown-color {
    color: #515266;
}

.shadow-gradient {
    background: linear-gradient(179.75deg, #1b1e51 -19.96%, #5054a5 43.67%, #7075D9 138.4%);
}

.shadow-border {
    border: 0.5em solid #1b1e51;
}

.shadow-color {
    color: #1b1e51;
}